<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.great.dao.CarMapper">
  <resultMap id="BaseResultMap" type="com.great.bean.Car">
    <id column="CAR_ID" jdbcType="DECIMAL" property="carId" />
    <result column="CAR_NUM" jdbcType="VARCHAR" property="carNum" />
    <result column="CAR_STATE" jdbcType="DECIMAL" property="carState" />
    <result column="CAR_DATE" jdbcType="TIMESTAMP" property="carDate" />
    <result column="SCHOOL_ID" jdbcType="DECIMAL" property="schoolId" />
    <result column="COACH_ID" jdbcType="DECIMAL" property="coachId" />
  </resultMap>
  
  <select id="carList" parameterType="map" resultType="map">
  	select O.COACH_NAME,S.SCHOOL_NAME,C.CAR_ID,C.CAR_NUM,C.CAR_STATE,P.PARAMETER_NAME from  T_CAR C,T_COACH O,T_SCHOOL S,T_PARAMETER P where C.CAR_STATE!=99 AND C.COACH_ID = O.COACH_ID AND C.SCHOOL_ID=S.SCHOOL_ID AND C.CAR_STATE=P.PARAMETER_ID
  	<if test="schoolId!=null and schoolId!=''">
		AND	C.SCHOOL_ID=#{schoolId}
	</if>
  </select>
  
  <update id="deleteCar" parameterType="map">
		update T_CAR
		<set>
			<if test="carState!=null and carState!=''">
				CAR_STATE=#{carState}
			</if>
		</set>
		where CAR_ID=#{carId}
	</update>
	
	<!-- 后端教练车添加 -->
	<insert id="carAdd" parameterType="com.great.bean.Car">
		insert into T_CAR(CAR_ID,CAR_NUM,SCHOOL_ID,COACH_ID) 
		values (seq_t_car.nextval,#{carNum},#{schoolId},#{coachId})
	</insert>
</mapper>